In [1]:
import pandas as pd

In [3]:
albaniaDF = pd.read_csv("../data/Wineries/albania.csv") 
albaniaDF

,winery,web,region,country
0,Bodegas Boukas,NaN,NaN,Albania
1,Boukas Winery,http://www.boukaswinery.com/index.html,NaN,Albania
2,Kantina Arberi,http://www.kantina-arberi.com/,NaN,Albania
3,Kantina Bardha,http://kantinabardha.com/,NaN,Albania
4,Kantina Cobo,NaN,NaN,Albania
5,Kantina e Veres Kardinal,http://www.verakardinal.com/index.html,NaN,Albania
6,Kantina e Veres Luani,http://www.kantina-luani.com/,NaN,Albania
7,Kantina Gjergj Kastrioti Skenderbeu,http://www.kantinaskenderbeu.al/,NaN,Albania
8,Kantina Rilindja,http://www.kantinarilindja.com/,NaN,Albania
9,Kantina SARA,http://www.kantinasara.com/en/index.html,NaN,Albania
10,Kokomani Winery,http://www.kokomani-winery.com/,NaN,Albania

In [5]:
australiaDF=pd.read_csv("../data/Wineries/australia.csv")
del australiaDF['latlong']
australiaDF

,winery,web,region,country
0,Apsley Gorge Vineyard,NaN,Tasmania - Southern Tasmania,Australia
1,Barringwood Park,NaN,Tasmania,Australia
2,Bellingham Vineyard,NaN,Tasmania - Southern Tasmania,Australia
3,Bream Creek Vineyard,NaN,Tasmania - Southern Tasmania,Australia
4,Brook Eden Vineyard,NaN,Tasmania,Australia
...,...,...,...,...
257,Shemarin,NaN,Western Australia - Great Southern,Australia
258,Somerset Hill Wines,NaN,Western Australia - Great Southern,Australia
259,West Cape Howe Wines,NaN,Western Australia - Great Southern,Australia
260,Wignalls,NaN,Western Australia - Great Southern,Australia
261,Willow Bridge Estate,NaN,Western Australia - Geographe,Australia

In [7]:
canadaDF=pd.read_csv("../data/Wineries/canada.csv")
del canadaDF['latlong']
canadaDF

,winery,web,region,country
0,Adora Estate Winery,NaN,British Columbia,Canada
1,Alderlea Vineyards,NaN,British Columbia,Canada
2,Arrowleaf Cellars INC,NaN,British Columbia - Okanagan Valley,Canada
3,Bella Vista Vineyards,NaN,British Columbia,Canada
4,Benchland Vineyards,NaN,British Columbia,Canada
...,...,...,...,...
196,Vigneti Zanatta,NaN,NaN,Canada
197,Vignoble Bourg Royal,NaN,NaN,Canada
198,Vignoble des Pins,NaN,NaN,Canada
199,Vignoble Morou,NaN,NaN,Canada
200,Vincor International,NaN,NaN,Canada

In [11]:
chileDF=pd.read_csv("../data/Wineries/chile.csv")
del chileDF['latlong']
chileDF

                        winery  web           region country
0                    Agustinos  NaN              NaN  Chile
1                       Alfasi  NaN   Maule Valley    Chile
2              Almaviva Winery  NaN              NaN  Chile
3    Altair Vineyards & Winery  NaN              NaN  Chile
4    Amayna, Vina Garces Silva  NaN              NaN  Chile
..                         ...  ...              ...     ...
157     Vinos del Sur / VINSUR  NaN          Itata    Chile
158           Vinos Los Robles  NaN         Curico    Chile
159                 Viu Manent  NaN          Rapel    Chile
160         Walnut Crest Wines  NaN              NaN  Chile
161     William Cole Vineyards  NaN     Casablanca    Chile

[162 rows x 4 columns]

In [13]:
new_zealandDF=pd.read_csv("../data/Wineries/new_zealand.csv")
new_zealandDF = new_zealandDF.rename(columns = {'area':'region', 'wine':'web'})
new_zealandDF

,winery,web,region,country
0,A Lyttle Vineyard & Olive Grove,NaN,Auckland - Waiheke Island,New Zealand
1,Abel Tasman Wines,NaN,Nelson,New Zealand
2,Akarangi Wines,NaN,Hawke's Bay,New Zealand
3,Akaroa Harbour Wines,NaN,Canterbury,New Zealand
4,Akarua,NaN,Nelson,New Zealand
...,...,...,...,...
196,Inverness Estate,NaN,Auckland,New Zealand
197,Isabel Estate Vineyard,NaN,Marlborough,New Zealand
198,Jackson Estate,NaN,Marlborough,New Zealand
199,Johanneshof Cellars Ltd,NaN,Marlborough - Blenheim,New Zealand
200,John Mellars of Great Barrier Island,NaN,NaN,New Zealand

In [15]:
portugalDF=pd.read_csv("../data/Wineries/portugal.csv")
del portugalDF['latlong']
portugalDF

                                winery  web region    country
0                 A. A. Ferreira, S.A.  NaN    NaN  Portugal
1               A.A Calem & Filho ,S.A  NaN    NaN  Portugal
2         Adega Cooperativa da Covilha  NaN    NaN  Portugal
3           Adega Cooperativa de Alijo  NaN    NaN  Portugal
4           Adega Cooperativa de Borba  NaN    NaN  Portugal
..                                 ...  ...    ...        ...
123   Vinhos Justino Henriques, Filhos  NaN    NaN  Portugal
124                   W. & J. Graham's  NaN    NaN  Portugal
125                       Warre's Port  NaN    NaN  Portugal
126  Wiese & Krohn's / Wiese and Krohn  NaN    NaN  Portugal
127                 Wine & Soul Winery  NaN    NaN  Portugal

[128 rows x 4 columns]

In [19]:
south_africaDF=pd.read_csv("../data/Wineries/south_africa.csv")
del south_africaDF['latlong']
south_africaDF

,winery,web,region,country
0,Cape Vineyards (Pty) Ltd,NaN,Breede River Valley Goudini,South Africa
1,Ambeloui Wine Cellar,NaN,Constantia,South Africa
2,Buitenverwachting,NaN,Constantia,South Africa
3,Constantia Uitsig,NaN,Constantia,South Africa
4,Eagle's Nest,NaN,Constantia,South Africa
...,...,...,...,...
509,Gecko Ridge,NaN,NaN,South Africa
510,Gilga Wines,NaN,NaN,South Africa
511,Glenhurst Wine Farms (pty) Ltd,NaN,NaN,South Africa
512,Glenview,NaN,NaN,South Africa
513,Golden Kaan Limited,NaN,NaN,South Africa

In [24]:
united_statesDF=pd.read_csv("../data/Wineries/united_states.csv")
united_statesDF['country']='United States'
united_statesDF=united_statesDF.rename(columns={'state':'region','web_site':'web','winery_name':'winery'})
united_statesDF

,winery,region,web,country
0,14 Hands,WA,www.14handswine.com,United States
1,Abacela Vineyards & Winery,OR,www.abacela.com,United States
2,Abarbanel Wine Co.,NY,www.kosher-wine.com,United States
3,Abbott Winery,CA,www.abbottwinery.com,United States
4,Abeja,WA,www.abeja.net,United States
...,...,...,...,...
2896,Zelko,OR,http://www.avalonwine.com/Zelko.htm,United States
2897,Zenaida Cellars,CA,www.zenaidacellars.com,United States
2898,Zin Alley,CA,www.zinalley.com,United States
2899,Zingaro Vineyards,CA,www.zingaro.net,United States
2900,Zucca Mountain Vineyards,CA,www.zuccawines.com,United States

In [27]:
wineriesDF=pd.concat([albaniaDF, australiaDF,canadaDF,chileDF,new_zealandDF,portugalDF,south_africaDF,united_statesDF]) 
wineriesDF

,winery,web,region,country
0,Bodegas Boukas,NaN,NaN,Albania
1,Boukas Winery,http://www.boukaswinery.com/index.html,NaN,Albania
2,Kantina Arberi,http://www.kantina-arberi.com/,NaN,Albania
3,Kantina Bardha,http://kantinabardha.com/,NaN,Albania
4,Kantina Cobo,NaN,NaN,Albania
...,...,...,...,...
2896,Zelko,http://www.avalonwine.com/Zelko.htm,OR,United States
2897,Zenaida Cellars,www.zenaidacellars.com,CA,United States
2898,Zin Alley,www.zinalley.com,CA,United States
2899,Zingaro Vineyards,www.zingaro.net,CA,United States
2900,Zucca Mountain Vineyards,www.zuccawines.com,CA,United States

In [28]:
# saving the DataFrame as a CSV file 
wineriesCSV = wineriesDF.to_csv('../data/wineriesCleaned.csv', index = True)